<h1>Tournaments</h1>

  <p> If you want to contribute to this beautiful nonsense.  
      Hit the <a href="http://github.com/tdufford/pongleague">git</a>
      and give me a hand!</p>
      
  <%= link_to "GIT", "http://github.com/tdufford/pongleague", btn class: btn-primary %>
